.giua
{
    position: relative;
    margin-top: -100px;
    text-align: center;
}
.giua h3
{
    font-size: 25px;
    color: chocolate;
    margin-top: 10px;
}
.ct
{
    position: relative;

}
.xd
{
    position: relative;
    margin-top: 1px;
}
.xd p
{
    text-align: center;
}
.ct p
{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2px;
    margin-top: 10px;
}
.xd input[type=text]
{
    font-size: 20px;
    border: 1px currentColor black;
    padding-left: 10px;
    height: 35px;
    width: 500px;
    border: 1px groove cornflowerblue;
}
.xd input[type=radio]
{
    border: 1px currentColor black;
    height: 30px;
    width: 20px;
}
.xd input[type=email]
{
    font-size: 20px;
    border: 1px currentColor black;
    height: 35px;
    width: 500px;
}
.xd input[type=password]
{
    font-size: 20px;
    border: 1px currentColor black;

    padding-left: 10px;
    height: 35px;
    width: 500px;
    border: 1px groove cornflowerblue;
}
.xd input[type=date]
{
    font-size: 20px;
    outline: none;
    border: 1px currentColor black;
    padding-left: 10px;
    height: 35px;
    width: 500px;
    border: 1px groove cornflowerblue;
}
.sent
{
    float: left;
    margin-left: 450px;
    margin-top: 50px;
    
}
.clear
{
    float: left;
    margin-top: 50px;
    margin-left: 10px;
} 
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 25%; 
    right: 25%;
    background-color: rgb(102, 204, 199);
    overflow-y: hidden;
	transition: 0.5s;
	background: white;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
	margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 60px;
}
/* --------------------dang ky-------------- */
.form-style-7{
	max-width: 400px;
	margin-top: -20px;
	margin-left: 170px;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	padding: 2px 5px 2px 5px;
	color: rgb(22, 35, 109);
	font-size: 14px;
	overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-left: 10px;
}
.form-style-7 input[type="reset"]
{
    background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
    color: #D2E2FF;
    cursor: pointer;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
/* .form-style-7 input[type="reset"]:focus, */
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"],
.form-style-7 input[type="reset"]{
	background: #125c1e79;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #125c1e79;
	border-radius: 3px;
    color: #eaedf3;
    cursor: pointer;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover,
.form-style-7 input[type="reset"]:hover{    
	background: #063a0f79;
	color:#fff;
}
/* --------------------dang nhap-------------- */
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 100px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 p
{
	color:  rgb(22, 35, 109);
	font-size: 1.2em;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="password"]:focus,

.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #125c1e79;
	border-bottom: 2px solid #125c1e79;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #074d1379;
}